table.dataTable th {
    width: 100px;
    max-width: 100px;
    word-break: break-all;
    white-space: pre-line;
}

table.dataTable td {
    width: 100px;
    max-width: 100px;
    word-break: break-all;
    white-space: pre-line;
}


/* table.dataTable th {
    width: 500px !important;
    max-width: 500px !important;
    word-break: break-all;
    white-space: pre-line;
} */